.body {
  background-color: #262626 !important;
}
.gbox{background-color: #212936;
border-radius: 10px;
-webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
        width: 50%;
        margin: 8% 5%;
        padding: 5% 8%;
}

h3{color:#fff
  
}
.App-logoo{width: 70px;}

.textt p {
 color:#82BC25;
 font-size: 0.8rem;
}
.linkc{
  color:#82BC25;
 font-size: 0.8rem;
 text-decoration: none;
}
.textt span {
  color:#fff;
 }

 .otpbox{
  border-radius: 10px;
  background-color: #fff;
  
 }

 .btn-primary {
  width: 100%;
  --bs-btn-color: #fff;
  --bs-btn-bg: #81bc41 !important;
  --bs-btn-border-color: #81bc41 !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #81bc41;
  --bs-btn-hover-border-color: #81bc41;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #81bc41;
  --bs-btn-active-border-color: #81bc41;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #81bc41;
  --bs-btn-disabled-border-color: #81bc41;
}

.text-mutedd {
  --bs-text-opacity: 1;
  color: #81bc41 !important;
}
.form-label{font-size: 0.8rem;
  font-weight: 600;}

  ::placeholder {font-size: 0.8rem;
    font-weight: 600;
  color: rgb(44, 44, 44) !important; 
opacity: 1; }

.form-check-label {font-size: 0.8rem !important;
  font-weight: 600;} 

  .form-check-input {
    width: 0.8em;
    height: 0.8em;
    margin-top: 0.45em;}

    @media screen and (max-width: 480px) {
      .gbox{
                width: 100%;
                padding-top: 5%;
        }
    }

